extends layout

block content
	div(style="margin-left:150px;")
		h1 about
		p Thrashing.io is created on March 13, 2015. The site is inspired by this 
			a(href="http://www.joelonsoftware.com/items/2015/01/20.html") blog
			|. Some ideas from StackOverflow's manifesto developed into Thrashing, a "wikipedia of github" of tutorials. It's a space where any developer can contribute and learn from other developers. Hopefully in a few years time, Thrashing.io can embody the philosophy of "for developer and by developer."
