extends layout

block title
	title Philosophy

block content
	div.container
		h3 The Philosophy
		p(style="line-height: 2em") Humans are explorers. Developers, arguably more curious and hands-on, constantly yearn to learn, discover and grow. 
		p(style="line-height: 2em") Thrashing.io is by developers, for developers, with the ultimate intent of creating a home for anyone that wants to build and explore.
		p(style="line-height: 2em") Thrashing is similar to Medium.com in that users go on a journey to discover. On the other hand, Thrashing is also just like Github, in that all tutorials are open sourced, so that anyone can improve the content and soul of tutorials, guides and gists, to create the best possible materials for learning.
