extends layout

block title
    title Thrashing

block content
    div.container.main
        h3 Philosophy
        p.text-block Computer science is the frontier of our world. Artificial intelligence strives to match the human brain, voice recognition makes our lives easier, and big data gives us insight into every day life. We as developers are pioneers. Curiosity and creativity come together in everything we do. We like to ponder about the world around us and wonder how things work. We like to solve problems that plague society today. Our work is by no means easy. The learning curve to the different technologies and programming languages available today presents a challenge to all of us. Let's solve that. We created Thrashing to help developers, with the ultimate intent of creating a home for anyone that wants to build and explore. Let us go on a journey to discover. On the other hand, Thrashing is also just like Github, in that all tutorials are open sourced, so that anyone can improve the content of tutorials, guides and gists, to create the best possible materials for learning.
        h3 Rules
        p.text-block We want to create a welcome and informative space. When posting tutorials please be courteous to those around you and be tolerant of the inherent differences in this world. Everyone should be respected equally no matter how much or little they know. After all, everyone has to start somewhere. When writing, strive to use good grammar and clean code so that others will be able to collaborate and understand you. While we cannot enforce this fully as Thrashing is an extensive site, we trust our users to stick to Thrashing's philosophy and to create a good community. As always, we enjoy feedback to the site so please contact us if you have any questions or comments.