extends layout

block title
    title Thrashing

block content
    div.container.main
        h3 Philosophy
        p.text-block Computer science is the frontier of our world. 
        p.text-block We as developers are pioneers. Learning and exploration are what we are all about. 
        p.text-block So, we created Thrashing.io, hoping to create a home for anyone that wants to build and explore. 
        p.text-block All the tutorials are binded together like a Medium feed. And all the guides are open sourced so that anyone can contribute like with Github.
        p.text-block Let's go on a journey together. We may not know the destination, but it's going to be a fun one.
