extends layout

block title
    title Thrashing

block content
    div.container.main
        h3 Philosophy
        p.text-block Developers are pioneers. Each one of us want to explore and build.
        p.text-block Hopefully, if we get really lucky, we can accomplish our dream and make Thrashing.io a home for anyone that wants to build and explore. 
        p.text-block To us, thrashing.io is a giant log of stories and tutorials about how to hack on something. It's a home for the hackers that live on Hackathon Hackers. It's a home for the free lancers that want to finally learn swift. And it's a home for the students that want to change the world.
        p.text-block We honestly have no idea about if Thrashing.io will exist in a few months time, but we hope that you can join us on this exciting experiment. 
