extends layout

block content
	div(style="margin-left:150px;")
		a(href="/tutorial/#{changes[0].tutorial}") tutorial
		each change in changes
			div 
				p #{change.time}
				a(href="/change/#{change._id}") see full
