extends layout

block content
    div.container
        h3 Complete Profile
        form(class='edit-profile', action='/edit_profile', method='POST')
            input(type='text', class="form-control", name='name', placeholder='Name')
            input(type='text', class="form-control", name='company', placeholder='Company or school')
            input(type='text', class="form-control", name='site', placeholder='Website or Github')
            button(class='btn btn-primary', type='submit') Update
                  span.clearfix
        