extends layout

block title
    title Tutorial feed

block content
    div.container
        h3 Recent Edits
        each tutorial in tutorials
            a(href="/tutorial/#{tutorial._id}")
                div
                    p #{tutorial.name}
                    p #{tutorial.description} 
                hr
