extends layout

block title
    title Thrashing Tutorials Feed

block meta
    meta(name='description', content='Thrashing feed')
    meta(name='keywords', content='feed, top stories, tutorials')

block content
    div.container.main
        h3 Learn. Discover. Grow.
        each tutorial in tutorials
            a(href="/tutorial/#{tutorial._id}")
                div.block
                    h3.left #{tutorial.vote_score}
                    p.left-indent.active.bold #{tutorial.name}
                    p.left-indent #{tutorial.description}
                hr
