extends layout

block title
    title New tutorial

block content
    script(src='/scripts/edit.js')
    script(src='/scripts/jquery.hotkeys.js') 
    div.container.main
        h3 Create a Tutorial
        form(action="/new", method="post")
            input.limited-width(placeholder="Title", type="text", class="form-control",name="name")
            input.limited-width(placeholder="Description", type="text", class="form-control", name="description")
            br
            a(href="http://assemble.io/docs/Cheatsheet-Markdown.html" target="_blank") Markdown Cheatsheet
            br
            textarea.content(data-provide="markdown", name="content") Type markdown here and press preview to see :)
            div.spacing
            p(style="display:inline;") (Control + P) - Toggle plain/preview
            div.spacing
            input(type="submit", class="btn btn-primary", value="Post Tutorial")
