extends layout

block content
	div(style="margin-left:150px;")
		form(name="create tutorial", action="/new", method="post")
			p name of the tutorial
			input(type="text", name="name")
			p description
			input(type="text", name="description", style="width:400px;")
			p content
			textarea(name="content", data-provide="markdown", style="width:400px; height:200px;")
			p
			input(type="submit", value="create")
