extends layout

block content
	div(style="margin-left:150px;")
		h1 Tutorials
		each tutorial in tutorials
			a(href="/tutorial/#{tutorial._id}")
				div
					p #{tutorial.name}
					p #{tutorial.description} 
