extends layout

block content
    div.container
        h3 Tutorials
        each tutorial in tutorials
            a(href="/tutorial/#{tutorial._id}")
                div
                    p #{tutorial.name}
                    p #{tutorial.description} 
