extends layout

block content
    div.container
        h3 Search Results
        each result in results
            a(href="/tutorial/#{result._id}")
                div
                    p #{result.name}
                    p #{result.description}
