extends layout

block content
    div.container
        h3 Search Results
        each result in results
            a(href="/tutorial/#{result._id}")
                div
                    p #{result.name}
                    p #{result.description}
        - if (results.length == 0){
            p Uhhh... That's embarassing. We don't anything on what you have searched yet. Please feel free to make a basic page and ask people to help improve it. Really appreciate your patience.
        - }
