extends layout

block meta
  meta(name='description', content='Thrashing login')
   meta(name='keywords', content='signin login')

block content
  div.container
    div.row(style="width: 100%; max-width: 300px; margin-left: auto; margin-right: auto")
        h3.text-center.login-title Sign In
          div.account-wall
            form(class='form-signin', action='/signin', method='POST')
              input(type='text', name='email' class='form-control', placeholder='Email',required, autofocus)
              input(type='password', name='password' class='form-control', placeholder='Password', required)
              button(class='btn btn-primary', type='submit') Sign in
              span.clearfix
          a(href='/signup', class='btn btn-primary') Create an account
          #message
          if message
            h1.text-center.error-message #{message}
