extends layout
 
block content
  div.container
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        h3.text-center.login-title Sign in
          div.account-wall
            form(class='form-signin', action='/signin', method='POST')
              input(type='text', name='email' class='form-control', placeholder='email: larry@gmail.com',required, autofocus)
              input(type='password', name='password' class='form-control', placeholder='Password', required)
              button(class='btn btn-primary', type='submit') Sign in
              span.clearfix
          a(href='/signup', class='btn btn-primary') Create an account
          #message
          if message
            h1.text-center.error-message #{message}
