extends layout

block meta
  meta(name='description', content='Thrashing register')
  meta(name='keywords', content='register signup')

block content
  div.container
    div.row(style="width: 100%; max-width: 300px; margin-left: auto; margin-right: auto")
        h3.text-center.login-title Register
          div.account-wall
            form(class='form-signup', action='/signup', method='POST')
              input(type='text', name='email' class='form-control', placeholder='Email',required, autofocus)
              input(type='password', name='password' class='form-control', placeholder='Password', required)
              br
              button(class='btn btn-primary', type='submit') Sign up
              span.clearfix
          a(href='/signin', class='btn btn-primary') Have Account
          #message
          if message
            h1.text-center.error-message #{message}
