extends layout

block content
	div(style="margin-left:150px;")
		h1 #{tutorial.name}
		a(href="/edit/#{tutorial.id}") edit
		p #{tutorial.description}
		div(style="width:400px; height:200px;")
			p!= tutorial_html
